
.bloco{
    width: 200px;
    height: 130px;
    padding: 2px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}

.titulo{
    margin-top: 5px;
    font-weight: 200;
    font-size: 13.3px;
    color: rgb(24, 24, 24);
 }

h3::after{
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    margin-top: 5px;
    background-color: rgb(241, 241, 241);
}

.valor{
    margin-top: 0;
    font-weight: 300;
}

.info{
    margin-top: -13px;
    color: red;
}

.tip{
    font-size: 12px;
    font-weight: 100;
    margin-top: 0px;
    color: rgb(149, 149, 149);
}