/* .DashSuperior{
    display: grid;
    grid-template-columns: 240px 240px 200px 240px 240px;
    grid-template-rows: 150px 150px;
    
}

.SupEsquerdo{
    display: flex;
    grid-column: 1/3;

}

.SupMeio{
    grid-column: 3/4;
}  */

.SupMeio{
    text-align: center;
    border-radius: 50%;
}


.Dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div:hover{
    transform: scale(1.5);
}