
.bloco{
    width: 200px;
    height: 130px;
    padding: 2px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}

.titulo{
    font-weight: 200;
    font-size: 14px;
    color: rgb(24, 24, 24);
 }

.titulo h3::after{
    content: "";
    display: inline-block;
    width: 200px;
    height: 4px;
    background-color:  rgb(255, 0, 0);
}

.valor{
    font-weight: 300;
}

.info{
    margin-top: -13px;
    color: red;
}

.tip{
    font-size: 13px;
    font-weight: 100;
    margin-top: -13px;
    color: rgb(149, 149, 149);
}