
.bloco{
    width: 230px;
    height: 130px;
    padding: 2px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}

.titulo{
    font-weight: 200;
    font-size: 14px;
 }

.valor{
    font-weight: 300;
}

.info{
    margin-top: -13px;
    color: red;
}

.tip{
    font-size: 13px;
    font-weight: 100;
    margin-top: -13px;
}