.DashboardInferior{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}

.GenericChart{
    background-color: white;
    padding-bottom: 8px;
    margin: 5px;
    width: 630px;
    height: 275px;
    border-radius: 5px;
    text-align: center;
    font-size: 11px;
    
}

.GenericChart h2{
    font-size: 18px;
    font-weight: 300;
}

.PieChartCustom{
    margin-top: 2px;
    margin-left: 2px;
}    