

.InfoGrid{
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    margin-top: 4.3px;
    margin-left: 4px;
    width: 410px;
    height: 265px;
}

.InfoGrid h2{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.InfoGrid h2::after{
    content: "";
    display: block;
    width: 410px;
    height: 2px;
    margin-top: 5px;
    background-color: rgb(241, 241, 241);
}


.InfoGrid td{
    font-size: 14px;
    font-weight: 200;
    padding-right: 40px;
    padding-bottom: 5px;
    
}
